:root {
    --h-primary: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background: linear-gradient(-135deg, rgb(200, 80, 192), rgb(65, 88, 208));
    font-family: 'Poppins', sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 62vw;
    height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;
    background-color: white;
    border-radius: 12px;
}

.image-container {
    height: 50%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#login-image {
    width: 60%;
}

.login-container {
    height: 80%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 80%;
}

.role-title {
    padding-bottom: 35px;
}

.role-name {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
}

.username,
.password,
.login-btn {
    width: 100%;
    padding: 7px 0px;
}

.button {
    display: block;
    margin: auto;
    width: 77%;
    height: 50px;

    border: none;
    border-radius: 25px;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(230, 230, 230);
}

input {
    /* padding-left: 60px; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.icon {
    position: r;
    top: 37px;
    left: 70px;
    position: absolute;
    color: #00000096;
}


.login-btn {
    padding: 24px 0px;
    padding-bottom: 15px;
}

#login-button {
    color: antiquewhite;
    background-color: rgb(93, 186, 122);
    font-size: 1rem;
}

#login-button:hover {
    cursor: pointer;
    background-color: rgb(52, 67, 57)
}

.links {
    text-decoration: none;
    font-size: 0.77rem;
}

.links:hover {
    color: rgb(93, 186, 122);
}

.register{
    width: 82%;
    text-align: center;
}

.reg{
    font-size: 0.9rem;
}